@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(fonts/Roboto-Regular.ttf) format("woff2");
}

@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(fonts/Roboto-Medium.ttf) format("woff2");
    font-weight: 500;
}
/*sf*/
@font-face {
    font-family: Roboto;
    font-display: swap;
    src: url(fonts/Roboto-Bold.ttf) format("woff2");
    font-weight: bold;
}
 
* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}
p{
    margin: 0px;
}
.color_t {
    color: #ffffff;
}

.color_x {
    color: #474747;
}

.color_blue {
    color: #4C5BD4;
}

.d_flex {
    display: flex;
}

.space_around {
    justify-content: space-around;
}

.space_b {
    justify-content: space-between;
}

.flex_start {
    justify-content: flex-start;
}

.flex_end {
    justify-content: flex-end;
}

.flex_center {
    justify-content: center;
}

.flex_grow {
    flex-grow: 1;
}

.w_100 {
    width: 100%;
}

.h_100 {
    height: 100%;
}

.flex_column {
    flex-direction: column;
}

.flex_w {
    flex-wrap: wrap;
}

.align_c {
    align-items: center;
}

.text_c {
    text-align: center;
}

.text_right{
    text-align: right;
}

.btn_t {
    color: #4C5BD4;
    background: #ffffff;
    border: 1px solid #4C5BD4;
}

.btn_x {
    color: #ffffff;
    background: #4C5BD4;
    border: 1px solid #4C5BD4;
}

.btn_green {
    color: #ffffff;
    background: #34B632;
    border: 1px solid #34B632;
}

.btn_v_red {
    color: #FF3333;
    background: #ffffff;
    border: 1px solid #FF3333;
}

.color_r {
    color: #FF3333;
}

.btn_red {
    color: #ffffff;
    background: #E24C4B;
    border: 1px solid #E24C4B;
}

.font_s16 {
    font-size: 16px;
}

.font_s14 {
    font-size: 14px;
}

.font_s19 {
    font-size: 19px;
}
.back_x{
    background: #4C5BD4;
}
.back_dongy {
    background: #4C5BD4;
    color: #ffffff;
}

.back_green {
    background: #34B632;
}
.btn_close{
    border: 1px solid #606060;
}

.back_v {
    background: #FFA800;
}

.font_w500 {
    font-weight: 500;
}

.font_wB {
    font-weight: bold;
}

.line_h19 {
    line-height: 19px;
}

.color_r {
    color: #FF3333;
}

.color_green {
    color: #34B632;
}

.border_r10 {
    border-radius: 10px;
}

.back_w {
    background: #ffffff;
}

.text_justify {
    text-align: justify;
}

.position_r {
    position: relative;
}

.position_a {
    position: absolute;
}

.line_h16 {
    line-height: 16px;
}

.font_wn {
    font-weight: normal;
}

.cursor {
    cursor: pointer;
}

.font_s14{
    font-size: 14px;
}

.line_h18{
    line-height: 18px;
}

.btn_xanh{
    background: #1B4695;
    border: 1px solid #1B4695;
    padding: 18px 0px 18px 0px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    border-radius: 10px;
}

.btn_trang{
    background: #ffffff;
    border: 1px solid  #767676;
    padding: 18px 0px 18px 0px;
    text-align: center;
    color: #767676;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    border-radius: 10px;
}

.color_xam{
    color: #585858;
}
.color_xanh{
    color: #1B4695;
}

body {
    background: #F7F8FC;
}

.display_none{
    display: none;
}

/* end dung chung */


/* side_bar */
.popup {
    /*display: none;*/
    position: fixed;
    z-index: 2;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
}

.popup .modal-dialog{
    max-width: 683px;
    border-radius: 10px;
}

.box_success{
    padding: 62px 87px;
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}


.p_xanh_cs{
    margin-top: 40px; 
    margin-bottom: 40px;
}


.p_xam_cs{
    font-size: 17px;
    line-height: 22px;
}


.form_btn {
    margin-top: 30px;
}
.box_success .form_btn button{
    width: 358px;
}

.container_main {
    margin: 80px auto;
    width: 801px;
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}


.body_main{
    padding: 40px 40px 60px 40px;

}


.p_notif{
    width: 80%;
    margin-bottom: 10px;
}

.card_item{
    border: 1px solid #E7F2FF;
    border-radius: 5px;
    margin-top: 25px;
}

.card_item .card-header{
    background: #E7F2FF;
    border-bottom: 0px;
}

.radio_custom .custom-control-label::after{
    top: 0.15rem;
    width: 21px;
    height: 21px;
}

.radio_custom .custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-image: url('../img/img_radio.png'); 
    background-size: 100% 100%;
}
.radio_custom .custom-control-input:checked~.custom-control-label::before{
    border-color: unset;
    background: unset;
}

.margin_t10{
    margin-top: 10px;
}

.box_imgcmt{
    width: 100%;
    height: 145px;

    border-radius: 3px;
}

.label_file_cmt{
    width: 100%;
    height: 100%;
    background: #FEFEFE;
    border: 0.5px dashed #C0B9B9;
    box-sizing: border-box;
    border-radius: 3px;
}

.label_file_cmt p{
    margin-top: 5px;
}
.text_xamnhat{
    color: #AEAEB2;
}

.box_img_show{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.box_img_show .img_show{
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.input_file_hover{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 3px;
}

.input_file_hover .btn_xanh{
    padding: 9px 0px;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    width: 96px;
}

.box_img_show:hover .input_file_hover{
    display: flex;
}

.btn.btn_xanh:hover {
    color: #ffffff;
}

.card_item .col-4 p{
    margin-bottom: 5px;
    width: 85%;
}
.label_ip_muti{
    background: #E7F2FF;
    border-radius: 5px;
    padding: 3px 14px;
}

.label_ip_muti p{
    font-size: 14px;
    line-height: 18px;
    color: #606060;
    margin-left: 8px;
}

.box_item_img .img_input_muti {
    border: 0.5px dashed #C0B9B9;
    box-sizing: border-box;
    border-radius: 3px;
    width: 18%;
    margin-right: 2.5%;
    padding: 21px 7px 6px 7px;
    margin-bottom: 15px;
}

.box_item_img .img_input_muti:nth-child(5n){
    margin-right: 0px;
}

.box_item_img .img_input_muti  img{
    width: 100%;
    height: 100%;
    border: 0.5px dashed #C0B9B9;
    border-radius: 3px;
}

.del_img{
    top: 2px;
    right: 4px;
}

.hr_img{
    background: #E7F2FF;
}

.form_group .custom-select{
    background: #fff url('../img/img5.png')  no-repeat right 0.8rem center/16px 6px;
    font-size: 14px;
}

.form_group .custom-select:focus {
    border-color: #ced4da;
    outline: 0;
    box-shadow: unset;
}

.form_group .select_mb {
    margin-bottom: 10px;
    height: 40px;
}

.btn_page button{
    width: 228px;
    margin-right: 20px;
}

.btn_page button:last-child{
    margin-right: 0px;
}

.header_main {
    padding: 41px 55px 80px 55px;
    background: #1B4695;
    border-radius: 10px 10px 0px 0px;
}

.title_page{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    margin-bottom: 27px;
}

.back_red{
    background: #E9262A;
}

hr.back_red{
    width: 100%;
    margin-top: 10.5px;
}

.cricle_header{
    width: 21px;
    height: 21px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #E9262A;
    border-radius: 50%;
}

.text .p_text{
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;  
    text-align: center;
    color: #FFFFFF;
}

.header_infor .div_circle .text{
    min-height: 52px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

.header_infor .div_circle:first-child .text {
    min-width: 57px;
}

.header_infor .div_circle:nth-child(3) .text {
    min-width: 57px;
}

.header_infor .div_circle:nth-child(5) .text {
    min-width: 70px;
}

.header_infor .div_circle:nth-child(7) .text {
    min-width: 150px;
}

.header_infor .div_circle:last-child .text {
    min-width: 60px;
}

.div_circle{
    position: relative;
}

.div_circle .text {
   position: absolute;
   top: 26px;
   right: -calc(50% - 10px); 
}


.cricle_header2{
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.back_red2 {
    background: rgba(0, 0, 0, 0.25);
}

/*thong tin ca nhan*/
.box_form_input{
    margin-top: 20px;
}

.name_form_input{
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #4A4A4A;
}

.label{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #606060;
    margin-bottom: 10px;
}

.form_group .input_form{
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 5px;
    width: 100%;
    display: inline-block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 40px;
    margin-bottom: 10px;
    outline: 0;
    color: #585858;
    font-size: 14px;
}

.number_vnd{
    padding: 0.375rem 2.45rem 0.375rem 0.75rem !important;
    background: url('../img/img_vnd.png') no-repeat right 0.75rem center/27px 13px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: right;
    padding-right: 45px !important;
}
.number_vnd:focus{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.number_vnd::-webkit-outer-spin-button,
.number_vnd::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number_vnd {
  -moz-appearance: textfield;
}

.check_cus .custom-control-label::before {
    top: 0.1rem;
}

.margin_b10{
    margin-bottom: 10px;
}
/*end*/

/*input range*/

*,:after,:before{box-sizing:border-box}
.pull-left{float:left}
.pull-right{float:right}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}

.rangeslider,
.rangeslider__fill {
    display:block;
    border-radius:10px;
}

.rangeslider {
    position:relative;
}
.rangeslider:after{
    top:50%;
    left:0;
    right:0;
    content:'';
    width:100%;
    height:8px;
    margin-top:-2.5px;
    border-radius:5px;
    position:absolute;
    background:#F1F1F1;
}

.rangeslider--horizontal{
    width:100%;
    height:8px;
    margin: 7px 0px;
}

.rangeslider--vertical{
    width:5px;
    min-height:150px;
    max-height:100%;
}
.rangeslider--disabled{
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity:0.4;
}

.rangeslider__fill{
    position:absolute;
    background:#1B4695;
}
.rangeslider--horizontal .rangeslider__fill{
    top:0;
    height:100%;
}
.rangeslider--vertical .rangeslider__fill{
    bottom:0;
    width:100%;
}

.rangeslider__handle{
    top:50%;
    width:22px;
    height:22px;
    cursor:pointer;
    margin-top:-11px;
    background:white;
    position:absolute;
    border-radius:50%;
    display:inline-block;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

.rangeslider__handle:before{
    position: absolute;
    content: "";
    background: url('../img/img7.png');
    height: 15px;
    width: 15px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    top: calc(50% -  7.5px);
    left: calc(50% -  7.5px);
}

.rangeslider__handle:active{
    background:#ffffff;
}

.rangeslider__fill,
.rangeslider__handle{
    z-index:1;
}
.rangeslider--horizontal .rangeslider__fill{
    top:50%;
    height:8px;
    margin-top:-2.5px;
}

/* Budget */
.budget-wrap{
    padding:40px;
    background:#292942;
    box-shadow:0 25px 55px 0 rgba(0,0,0,.21),0 16px 28px 0 rgba(0,0,0,.22);
}
 .header .title{
    font-size: 14px;
    line-height: 18px;
    color: #AEAEB2;  
}

.p_right{
    float: right;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #E63C3C;
}

 .header .title .pull-right{
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: #E63C3C;
}

.p_sotien{
    font-size: 13px;
    line-height: 17px;
    color: #AEAEB2;
    letter-spacing: 0.01em;
}
.hihi{
    margin-bottom: 10px;
}

.check_cus .custom-control-label::after {
    top: 0.15rem;
}

.modal  .modal-content{
    box-shadow: 0px 0px 60px rgb(0 0 0 / 5%);
    border-radius: 10px;
    border: 0px;
}

.modal .modal-header {
    background: #1B4695;
    border-radius: 10px 10px 0px 0px;
    padding: 0.5rem 1rem;
}

.modal .modal-header  .modal-title{
    color: #ffffff;
}

.modal-header .close {
    padding: 0.5rem 1rem;
    margin: -0.3rem -1rem -1rem auto;
}

.modal-header .close{
    color: #ffffff;
    font-size: 30px;
}

.label_pp{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #606060;
}

.modal-footer{
    padding: 0.5rem 0.75rem;
}
.modal  .form_group .input_form{
    margin-top: 0px;
}

.modal-dialog {
    margin: 70px auto;
}


@media (max-width: 768px) {

    .container_main {
        margin: 40px auto;
        width: 93%;
    }

    .body_main .row  .col-4 ,.body_main .row  .col-8{
        max-width: 100%;
        flex: 0 0 100%;
    }

    .card_item .col-4 p {
        width: 95%;
    }

    .box_item_img .img_input_muti {
        margin-bottom: 10px;
    }

    .btn_xanh  ,.btn_trang{
        padding: 10px 0px 10px 0px;
        font-size: 14px;
        line-height: 18px;
        border-radius: 7px;

    }

    .btn_page button {
        width: calc(100%/2 - 30px);
        margin-right: 15px;
    }

    .popup .modal-dialog{
        max-width: 90%;
    }

    .popup{
        padding-top: 60px;
    }

    .box_success {
        padding: 43px 53px;
        
    }
    .modal-dialog{
        margin: auto;
    }
}



@media (max-width: 480px) {


    .btn_page button {
        width: calc(100%/2 - 10px);
    }

    hr.back_red{
        display: none;
        width: 0%;
    }

    .header_infor {
        flex-direction: column;
        align-items: flex-start;
    }
    .div_circle ,.div_circle .text{
        position: unset;
    }

    .div_circle{
        flex-direction: row !important;
        align-items: center !important;
        margin-bottom: 10px;
    }

    .header_main {
        padding: 25px 35px 20px 35px;
    }

    .header_infor .div_circle .text {
        min-width: unset !important;
        margin-left: 10px;
        display: unset  !important;
        margin-top: 0px;
        min-height: unset;
    }

    .text .p_text{
        display: inline-block;
    }

    .body_main {
        padding: 20px 15px 30px 15px;
    }

    .p_notif {
        width: 90%;
    }

    .box_success {
        padding: 30px 40px;
    }

    .p_xanh_cs {
        margin-top: 30px;
        margin-bottom: 30px;
    }   

    .p_xam_cs {
        font-size: 16px;
        line-height: 20px;
    }

    .box_success .form_btn button {
        width: 80%;
    }

    .label {
        margin-bottom: 6px;
    }




}


