.color-vecto
{
    position: absolute;
    width: 113px;
    height: 0px;
    left: 15px;
    top: 8px;
    border: 1px solid red;
}
.color-vecto1
{
    position: absolute;
    width: 104px;
    height: 0px;
    left:144.5px;
    top: 8px;
    border: 1px solid red;
}
.color-vecto2
{
    position: absolute;
    width: 170px;
    height: 0px;
    left:264.5px;
    top: 8px;
    border: 1px solid red;
}
#content2 i
{
    color: red;
}
.Group4 input
{
    width: 513px;
    height: 45px;
  

    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
}
.Group4 select
{
    width: 513px;
    height: 45px;
  

    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 5px;
}
#content4
{
    position: absolute;
    width: 724px;
    /* height: 1400px; */
    /* left: 610px; */
    top: 530px;
}
.Group7 :nth-child(2)
{
    margin-top: 10px;
    margin-left: 25px;
}
.Group7 :nth-child(3)
{
    margin-top: 10px;
    margin-left: 25px;
}
.Group7 select
{
    width: 513px;
    height: 45px;
  
    margin-left: 25px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
}
#content5
{
    position: absolute;
    width: 724px;
    /* height: 1400px; */
    /* left: 610px; */
    top: 770px;
}
/* .Group9
{
    margin-left: 25px;
} */
.Group9 select
{
    width: 513px;
    height: 45px;
    margin-left: 25px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}
.Group9 :nth-child(2)
{
    margin-top: 10px;
    margin-left: 25px;
}
.Group9 :nth-child(5)
{
    margin-top: 10px;
    margin-left: 25px;
}
.Group9 :nth-child(6)
{
    margin-top: 10px;
    margin-left: 25px;
}
.Group9 :nth-child(3)
{
 
    margin-left: 25px;
}
.Group9 :nth-child(4)
{

    margin-left: 25px;
}
#content6
{
    position: absolute;
    width: 724px;
    /* height: 1400px; */
    /* left: 610px; */
    top: 1200px;
 
}