
.color-hoatdong1 
{ 
    /* position: absolute;
    top: 80px;
    right: 60px; */
    width: 135px;
    height: 24px;
    background: #29CC97;
    border-radius: 20px;
    text-align: center;
    float: left;
    margin-top: 10px;
    color: #FFF;
    font-size: 11px;
    line-height: 24px;
}
.color-hoatdong2
{
    /* position: absolute;
    top: 80px;
    right: 60px; */
    width: 135px;
    height: 24px;
    background: red;
    border-radius: 20px;
    text-align: center;
    float: left;
    margin-top: 10px;
    color: #FFF;
    font-size: 11px;
    line-height: 24px;
}
.edit
{
    /* position: absolute;
    right: 20px;
    top: 82px; */
    font-size: 20px;
    color: #CEEEFF;
    margin-left: 0px;
    margin-top: 5px;
}
.btn-them
{
    
    width: 127px;
    height: 34px;

    /* Color Main */

    background: #1B4695;
    box-shadow: 0px 1px 5px rgba(45, 179, 255, 0.4);
    border-radius: 5px;
    border: 0px solid red;
    color: #FFF;
}
#kenhonline-body input
{
    width: 100%;
    height: 43px;
}
#kenhonline-body select
{
    width: 100%;
    height: 43px;
}
.delete {
    font-size: 25px;
    margin-top: 7px;
    margin-left: 10px;
    text-align: right;
}

.col-kenh
{
    width: 40%;
}
.col-delete
{
    width: 10%;
}
.trangthai
{
    width: 100%;
    height: 31px;
    border: 1px solid #ced4da;
}
.trangthai1
{
    width: 100%;
    height: 43px;
}
.trangthai3
{
    width: 100%;
    height: 43px;
}

.input_td{
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: 0;
    color: #585858;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    box-sizing: border-box;
}
@media (max-width: 774px){
    /* .modal
    {
        width: 100%;
    } */
    .modal .modal-dialog
    {
        width: 90%;
        margin: 0.5rem auto;
    }
    
    
}