.color-vecto
{
    position: absolute;
    width: 113px;
    height: 0px;
    left: 15px;
    top: 8px;
    border: 1px solid red;
}
.Group7 > select,input
{
    width: 513px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 5px;
}
.Group7 :nth-child(1)
{
    margin-top: 20px;
}
#content3--2
{
    position: absolute;
    top: 320px;
    width: 724px;
}
.Group9 >select,input
{
    width: 513px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 5px;
}
.Group9 :nth-child(1)
{
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 20px;
}
.Group9 :nth-child(2)
{
    margin-top: 20px;
}
.Group9 :nth-child(3)
{
    margin-top: 5px;
}
.Group9 :nth-child(4)
{
    margin-top: 5px;
}
.Group9 :nth-child(6)
{
    margin-top: 5px;
}
.Group9 :nth-child(7)
{
    margin-top: 10px;
}
.Group9 :nth-child(8)
{
    margin-top: 10px;
}
.Group9 :nth-child(9)
{
    margin-top: 10px;
}
.Group8 :nth-child(1)
{
    font-weight: 600;
}

#content3--3
{
    position: absolute;
    top: 820px;
    width: 724px;
}
/* #content3--3 :nth-child(1)
{
    
} */
#content3--3 > p
{
    font-weight: 600;
}
.Group11 >select
{
    width: 513px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 5px;
}
#content3--4
{
    position: absolute;
    top: 1050px;
    width: 724px;
}
#content3--4 > p
{
    font-weight: 600;
}
.Group12 >select
{
    width: 513px;
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 8px;
}